<p *ngIf="!userLoginOn" class="alert alert-danger">Usuario NO autenticado</p>
<p *ngIf="userLoginOn" class="alert alert-success">Usuario Autenticado</p>

<div class="row">
    <div class="col-md-6">
        <div class="card mb-3">
            <img src="../../../assets/imagenes/image1.png" class="card-img-top" alt="Gestionar Encuestas" (click)="navigateTo('gestionar-encuestas')">
            <div class="card-body">
                <h5 class="card-title">Gestionar Encuestas</h5>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-3">
            <img src="../../../assets/imagenes/image2.png" class="card-img-top" alt="Visualizar Encuestas Disponibles" (click)="navigateTo('visualizar-encuestas')">
            <div class="card-body">
                <h5 class="card-title">Visualizar Encuestas Disponibles</h5>
            </div>
        </div>
    </div>
</div>
