.dashboard {
    height: 50vh; /* Altura para pantallas de escritorio */
    overflow-y: auto; /* Añade un scroll si el contenido excede la altura */
  }
  
  @media (max-width: 768px) {
    .dashboard {
      height: 65vh; /* Altura para dispositivos móviles */
    }
  }
  